:root {
  --font-rajdhani: "Avenir Next", "Segoe UI", "Helvetica Neue", sans-serif;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Avenir Next", "Segoe UI", "Helvetica Neue", sans-serif;
  background: #0f1720;
  color: #dfe6ed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100dvh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.appShell {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.appContent {
  flex: 1 0 auto;
}
